@model BattleshipGame.Models.GameBoardViewModel

<h2>Battleship Game</h2>

<game-board id="gameBoard"></game-board>

@section Scripts {
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/components/game-board.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const gameBoardElement = document.getElementById('gameBoard');
            const playerId = '@User.Identity.Name';
            const boardState = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(new
            {
                PlayerBoard = Model.PlayerBoard,
                TrackingBoard = Model.TrackingBoard
            }));
            gameBoardElement.setPlayerInfo(playerId);
            gameBoardElement.setBoardState(boardState);
        });
    </script>
}
