@model BattleshipGame.Models.GameBoardViewModel



@* <button id="startGameButton" disabled>Start Game</button> *@
<h2>Battleship Game</h2>
<game-board id="gameBoard"></game-board>


@section Scripts {
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/components/game-board.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            customElements.whenDefined('game-board').then(() => {
                const gameBoardElement = document.getElementById('gameBoard');
                const startGameButton = document.getElementById('startGameButton');
                const userName = '@ViewBag.UserName';
                const boardState = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(new
            {
                PlayerBoard = Model.PlayerBoard,
                TrackingBoard = Model.TrackingBoard,
                CurrentTurnPlayerId = Model.CurrentTurnPlayerId
            }));

                gameBoardElement.setPlayerInfo(userName);
                gameBoardElement.setBoardState(boardState);

                startGameButton.addEventListener('click', function () {
                    fetch('/Game/StartGame', { method: 'POST' })
                        .then(response => {
                            if (response.ok) {
                                console.log('Game started successfully');
                            } else {
                                console.error('Failed to start game');
                            }
                        });
                });
            });
        });
    </script>
}
