@model BattleshipGame.Models.GameBoardViewModel

<h2>Battleship Game</h2>

<game-board id="gameBoard"></game-board>

@section Scripts {
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/components/game-board.js"></script>
    <script src="~/js/game/game.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const gameBoardElement = document.getElementById('gameBoard');
            const boardState = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Cells));
            gameBoardElement.setBoardState(JSON.stringify(boardState));
        });
    </script>
}


