@model BattleshipGame.Models.GameBoardViewModel

<h2>Battleship Game</h2>

<game-board id="gameBoard"></game-board>

@section Scripts {
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/components/game-board.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            customElements.whenDefined('game-board').then(() => {
                const gameBoardElement = document.getElementById('gameBoard');
                const playerId = '@ViewBag.UserId'; // Use ViewBag to get the user ID
                const userName = '@ViewBag.UserName'; // Use ViewBag to get the user name
                const boardState = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(new
            {
                PlayerBoard = Model.PlayerBoard,
                TrackingBoard = Model.TrackingBoard,
                CurrentTurnPlayerId = Model.CurrentTurnPlayerId
            }));

                console.log('Player ID:', playerId);
                console.log('User Name:', userName);
                console.log('Board State:', boardState);

                gameBoardElement.setPlayerInfo(playerId, userName);
                gameBoardElement.setBoardState(boardState);
            });
        });
    </script>
}
